body {
    margin: 0;
    padding: 0;
    /* max-width: 100%; */
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
}

.home-div-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(img/halie-west-leaf.jpg);
    background-size: cover;
    height: 100vh;
    width: 70vw;
}

.logo-box {
    display: flex;
    background: rgba(0, 0, 0, 0.5);
    height: 150px;
    min-height: 150px;
    width: 100%;
    margin-top: 180px;
    justify-content: center;
    align-items: center;
}

.odin-text {
    display: flex;
    color: white;
    opacity: 1;
    font-size: 60px;
}

.credit {
    color: white;
    justify-content: end;
    padding-bottom: 10px;
    font-size: 12px;
}

.home-div-2 {
    display: flex;
    flex-direction: column;
}

.top {
    /* min-height: 33vh; */
}

.middle {
    min-height: 33vh;
}

.bottom {
    /* min-height: 33vh; */
}

.input-text {
    font-size: small;
}